body {
    background-image: url('recursos/background-resized.jpg');
}

div {
    width: 70vw;
    height: 70%;
    margin: 7vh auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1vh;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

label {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vh;
    margin-left: 27%;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.3vh;
    width: 45%;
    display: block;
    margin: 0.5vh auto;
    padding: 0.5%;
    border-radius: 1vh;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5vh;
    display: block;
    margin: 1vh auto;
    width: 10vw;
    height: 2em;
    border-radius: 1vh;
}